*, :root {
    font-family: monospace, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: rgb(25, 25, 25);
    height: 100%;
    display: flex;
    flex-direction: column;

    /* Taken from internet */
    background-image: linear-gradient(rgba(255, 255, 255, 0.007) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,0.007) 2px, transparent 1px),
    linear-gradient(rgba(255,255,255,0.007) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.007) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 1rem;
}

footer {
    text-align: center;
    height: 80px;
    line-height: 25px;
}

.tp-dfwv {
    top: auto !important;
    bottom: 90px !important;
    left: 20px !important;
    width: 30% !important;
    overflow: hidden !important;
}

.tp-btnv_b {
    background-color: transparent !important;
}

.tp-btnv_t {
    background-color: rgba(0, 0, 0, 0.2);
}

.tp-btnv_t:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#webgl-canvas {
    width: clamp(0px, 95%, 720px) !important;
    image-rendering: crisp-edges;
    aspect-ratio: (4 / 3);
    align-self: center;
    height: 480px;
    margin: 20px;
    background-color: rgb(25, 25, 25);
    border: 2px solid white;
    border-radius: 10px;
}

#error {
    width: clamp(0px, 95%, 720px);
    height: 20%;
    margin: 0 auto;
    max-width: 1000px;
    border: 2px solid white;
    overflow-wrap: break-word;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(24, 24, 26);
}

#error > p {
    padding: 10px;
    text-align: left;
}

@media (max-width: 800px) {

    * {
        font-size: small;
    }

    h3 {
        font-size: medium;
    }
}
